footer{
  height: 400px;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer_top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.footer_top .icon{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;

}
.footer_top p{
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;

}

.write{
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.write p{
  color: white;
  font-size: 16px;
}
hr{
  border: 1px solid white;
  width: 80%;
  margin: auto;
}

.footer_down{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links{
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px auto;
}

svg{
  width: 50px;
  height: 50px;
}

.footer_down .write{
  display: flex;
  align-items: center;
  justify-content: center;
}
