<div class="container">

  <h1>Progetto Daily Task List</h1>
  <p>Grazie al corso Web Developer, sono riuscito a creare questo mio primo progetto con il framework Angular. <br>
    Grazie al corso iniziato a familiarizzare con questo framework, ed ho realizzato una semplice todo list. <br>
    A mio parere credo che questo sia il framework JS più completo. <br>
    Sul mio profilo GitHub pubblicherò altri progetti creati in angular. <br>
    Il progetto è formato da 2 componenti utilizzati in tutte le pagine, e 3 pagine diverse. <br>
    I componenti riutilizzati sono la navbar e il footer. <br>
    Tra le varie pagine troviamo la Home, dove è presente l'app todo list. La pagina about (corrente) dove spiego le caratteristiche del progetto. Infine abbiamo la pagina contatti dove trovi i miei contatti linkedin e gitHub. <br>
    Ti ringrazio per aver visto questo progetto. <br>
    Ti invito a seguirmi su entrambi i miei profili che trovi in contatti ! 😎
  </p>

</div>
