.container{
  width: 1000px;
  height: 700px;
  margin-top: 20px;

}

.container h1{
  color: rgb(0, 0, 0);
  font-size: 32px;
  margin: 0 auto 20px;
  text-align: center;
  font-weight: 700;

}
.container p {
  color: white;
  font-size: 20px;
  margin: 50px auto;
  font-weight: 600;
}
