*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(
    #1d009f,
    #ae00ae);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
